@import  'variables';
   .flex-table {
        border-left: solid 1px $table-border;
        clear: both;
        display: flex;
        flex-flow: column wrap;
        transition: 0.5s;

        .flex-row {
            display: flex;
            flex-flow: row nowrap;

            &.header {
                .flex-cell {
                    background: $table-header;
                    border-top: solid 1px $table-border;
                    color: $white;
                }
            }
        }
    }
